/* OpenSans Regular */
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* OpenSans Bold */
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* OpenSans Italic */
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/static/OpenSans-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* OpenSans Bold Italic */
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/static/OpenSans-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* ...and so on for other variations */

html,
body {
  font-family: "Open Sans", "Times New Roman", Times, serif !important;
  touch-action: manipulation !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
}

:root {
  --correct-color: #4caf50;
  --correct-color-2: #a8e6cf;
  --wrong-color-3: #f04747; /* Discord Red */
  --correct-color-3: #4b8e79; /* Discord Green */
  --wrong-color: #ff5722;
  --wrong-color-2: #ffadad;
  --reset-color: #3f51b5;
  --text-color: white;
  --text-color-2: #666;
  --exact-color: #ffa500;
  --nitro-color: #ff73fa;
  --nitro-color-dark: #cc5bad;
  --dark-color-1: #1e2125;
  --dark-color-2: #23272a;
  --dark-color-3: #2e3136;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.container,
.settings-container {
  background-color: #ffffff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.settings-content-container .expanded {
  padding: 0px 48px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.btn {
  user-select: none;
  transition: ease-in-out 0.15s;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  /* transition: background-color 0.3s; */
  min-width: 150px;
  /* Set a fixed width for the buttons. */
  text-align: center;
}

.btn:active {
  transform: translateY(-0.25rem) scale(0.9);
  transition-duration: 0.2s;
}

#resetButton {
  background-color: var(--reset-color);
  color: var(--text-color);
}

.success {
  color: var(--correct-color) !important;
  animation: keyPressAnimation 0.8s ease-in-out; /* Adjust the duration and timing function as needed */
}

.warning {
  color: var(--wrong-color) !important;
  animation: keyPressAnimation 0.8s ease-in-out; /* Adjust the duration and timing function as needed */
}

.exact-good {
  color: var(--exact-color) !important;
}

.exact-bad {
  color: var(--exact-color) !important;
}

.btn:hover {
  opacity: 0.8;
}

#wrongButton,
#correctButton {
  margin-top: 24px;
  height: 120px;
  width: 120px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: none;
  padding: 0xp;
  transition: ease-in-out 0.1s;
}

#wrongButton {
  background: radial-gradient(circle, var(--wrong-color), #ff8a50);
  color: var(--text-color);
}

#correctButton {
  background: radial-gradient(circle, var(--correct-color), #80e27e);
  color: var(--text-color);
}

.dark-mode #wrongButton {
  background: radial-gradient(circle, var(--wrong-color-3), #992c2c);
  color: var(--text-color);
}

.dark-mode #correctButton {
  background: radial-gradient(circle, var(--correct-color), #4b8e79);
  color: var(--text-color);
}

/* Dark Mode Success, Warning, and Exact classes */
.dark-mode .success {
  color: var(--correct-color);
}

.dark-mode .warning {
  color: var(--wrong-color-3) !important;
}

#resetButton {
  background-color: var(--reset-color);
  color: var(--text-color);
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.result {
  text-align: center;
  border: solid 2px #f9f9f9;
  padding: 12px;
  margin: 0px;
  color: #ccc;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

#pimsleurLogo {
  max-width: 150px;
  /* Adjust as necessary for the logo size. */
  margin-bottom: 10px;
}

.logo p {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  /* Spaces out the child elements. */
  gap: 20px;
}

/* Custom Checkbox */
.custom-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  padding-top: 4px;
}

.custom-checkbox input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #f5f5f5;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Collapsible Manual */
.settings-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin: 56px;
  margin-left: auto;
  margin-right: auto;
}

.manual-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.manual-toggle {
  background-color: #2196f3;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

.settings-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: auto;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.manual-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #f9f9f9;
  padding: 0 20px;
}

.settings-toggle {
  margin-top: 10px;
}

.confirmation-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn.confirm {
  background-color: var(--correct-color);
  color: var(--text-color);
}

.btn.cancel {
  background-color: var(--wrong-color);
  color: var(--text-color);
}

.btn.confirm,
.btn.cancel {
  margin: 10px;
  padding: 12px 20px;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.line {
  align-self: flex-start; /* Align to the start of the cross axis (horizontal in this case) */
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: #f4f4f4;
  border-radius: 99%;
  height: 2px;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  scale: 0.8;
  justify-content: center;
}

/* Dark mode. */
/* Discord-style Dark Mode */
body.dark-mode {
  background-color: var(--dark-color-1);
  color: #ffffff;
}

.dark-mode .btn {
  background-color: var(--dark-color-3);
  color: #ffffff;
}

.dark-mode .settings-content-container .expanded {
  padding: 0px;
  background-color: var(--dark-color-3);
}

.dark-mode .manual-content {
  background-color: var(--dark-color-3);
  border-radius: 8px;
}

.dark-mode {
  background-color: #2c2f33;
}

.dark-mode .exact-good,
.dark-mode .exact-bad {
  color: var(--exact-color);
}

/* Settings and manual container in Dark Mode */
.dark-mode .settings-container,
.dark-mode .manual-container,
.dark-mode .container,
.dark-mode .logo {
  background-color: var(--dark-color-2);
}

.dark-mode .modal-content {
  background-color: var(--dark-color-1);
  color: #ffffff;
}

.btn.confirm {
  background-color: var(--correct-color);
  color: var(--text-color);
}

.btn.cancel {
  background-color: var(--wrong-color);
  color: var(--text-color);
}

.dark-mode .custom-checkbox input:checked ~ .checkmark {
  background-color: var(--nitro-color);
}

.dark-mode .manual-toggle {
  background-color: var(--nitro-color-dark);
}

.dark-mode .line {
  background-color: var(--dark-color-1);
}

.dark-mode .result {
  border: solid 2px var(--text-color-2);
  color: var(--text-color-2);
}

.button-animation {
  animation: keyPressAnimation 0.8s ease-in-out; /* Adjust the duration and timing function as needed */
}

@keyframes keyPressAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.table-results-container {
  max-height: 165px; /* 3.5 rows of 40px each, plus a little space in between */
  width: 28vh;
  overflow-y: auto;
  min-height: 165px; /* 3.5 rows x 30px each + 5px gaps = 125px */
  position: relative;
}

.table-results {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
  animation: slideDown 0.3s ease-out;
  border: none;
  border-radius: 8px;
  margin: 4px;
  display: flex;
  justify-content: space-between;
}

.table-results.good {
  flex: 1;
  background-color: var(--correct-color-2);
  color: white;
}

.dark-mode .table-results.good {
  background-color: var(--correct-color-3);
}

.table-results.bad {
  flex: 1;
  background-color: var(--wrong-color-2);
  color: white;
}

.dark-mode .table-results.bad {
  background-color: var(--wrong-color-3);
}

.demo-row {
  font-style: italic;
  opacity: 0.6;
  color: var(--dark-color-1);
}

.dark-mode .demo-row {
  color: var(--text-color);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .main-container {
    scale: 0.8;
  }

  .table-results-container {
    width: 75vw;
  }
}
